body{
    /*//margin-top:50px;*/
}

header .branding {
    display:block;
    width:100%;
    background:white;
// max-width:960px;
    margin:0 auto;
}

nav{
    /*width:100%;
    background:blue;*/
}

.feature-site{
    max-width: 50%;
    height: 250px;
}

.feature-glypicon{
    font-size:75px;

}

