body{
    /*//margin-top:50px;*/
}

header .branding {
    display:block;
    width:100%;
    background:white;
// max-width:960px;
    margin:0 auto;
}


#header .container-fluid{
    background-image: url("../img/bg.png") !important;
    background-repeat: repeat;
}


#header .container-fluid nav ul li a{
    color:grey;
    text-transform: uppercase ;
    font-size:10px;
    font-weight: bold;
}

#header .container-fluid nav ul li a.active{
    color:white;

}

#header .container-fluid nav ul li a:hover, a:focus  {
    text-decoration:none;
    color:white;
}

#header a.navbar-brand{
    color:white !important ;
}

#banner{
    color:white;
    background: url(http://hariborn.crunchkode.com/img/section-banner.jpg) fixed no-repeat center;
    background-size: cover;
    height: 300px;

}

#banner p.tagline {
    margin-top: 40px;
    text-align: center;
}

#banner-body{
    margin-top: -200px;

}



#banner-body .container .col-md-12 .container{
    border: 4px solid white;
    background-color: black;
    box-shadow: 2px 2px 2px grey;

}

#banner-body .left-content h4{
    padding-top:25px;
}

#banner-body .left-content p{
    color:grey;
}

#banner-body .left-content a:hover, a:focus  {
    text-decoration:none;
    color:white;

}



#banner-body .right-content{
    background-color:black;
}
#banner-body .right-content img{
    margin: auto;
    margin-left: -16px;
    margin-right: 20px;
    width:100%;
    height: 250px;

}

#banner-body .left-content{
    color:white;
    background-color:black;
    height: 250px;
}

nav{
    /*width:100%;
    background:blue;*/
}

.navbar{
    border: 0px solid white;
}

.feature-site{
    width: 100%;
    height: 250px;
    border: 2px solid white;
    box-shadow: 2px 2px 2px grey;
}

.feature h4 , .feature p{
    text-align: center;
}
.feature-glypicon{
    font-size:75px;
}

.feature-bg{
    color:white;
    background: url(http://hariborn.crunchkode.com/img/section-banner.jpg) fixed no-repeat center;
    background-size: cover;
    height: 300px;
}

.feature-content{
    margin-top:40px;
}
.feature .description{
    font-size:12px;
    text-align: center;
    color: grey;
}



